In [12]:
import pandas as pd

In [19]:
def df_transform(path_to_file):
    df = pd.read_csv(path_to_file, sep = ';', header=None, encoding= 'cp1251')
    for i in range(0, df.shape[0], 5):
        df.loc[2+i,0] = df.loc[0+i,4]
        df.loc[4+i,0] = df.loc[0+i,6]
    df = df[0].values.reshape(df.shape[0]//5,5)
    df = pd.DataFrame(df,columns = ['Номенклатура','Компания1','Цена1', 'Компания2','Цена2'])
    return df.to_csv('data/result.csv', index=False)

In [20]:
df_transform('data/2222.csv')
df = pd.read_csv('data/result.csv')
df

,Номенклатура,Компания1,Цена1,Компания2,Цена2
0,Болт и гайка креплоения башмака SD23,"ООО ""ЮМС""","587,4",ЮНИПАРТС ООО,"1 040,00"
1,Болт катка опорного M20X2.5X100,КОМПАРТ ООО,"3 500,00",НЕРУДНЫЕ МАТЕРИАЛЫ ООО,"5 180,00"